language:
 - cpp

compiler:
 - gcc

os:
 - linux

install:
 - sudo apt-get update -qq
 - sudo apt-get install -qq flex build-essential lcov
 - wget http://mirrors.kernel.org/ubuntu/pool/main/b/bison/bison_3.0.4.dfsg-1_amd64.deb
 - wget http://ftp.us.debian.org/debian/pool/main/b/bison/libbison-dev_3.0.4.dfsg-1_amd64.deb
 - sudo dpkg -i libbison-dev_3.0.4.dfsg-1_amd64.deb
 - sudo dpkg -i bison_3.0.4.dfsg-1_amd64.deb
 - sudo pip install cpp-coveralls

before_script:
 - ./bin/project.sh

script:
 - cd ./build/debug/
 - make parser
 - make test

after_success:
 - make coverage-report &> coverage-report-log.txt
 - head coverage-report-log.txt
 - bash <(curl -s https://codecov.io/bash) -X gcov -v -s ./build -R .

after_failure:
 - echo "Failure"

after_script:
 - echo "Script Finished."
